body{
    background-color: lightblue;
    text-align: center;}
    
h1{
    text-align:center;}

nav{
    background-color: white;
    text-align: right;}

input{
    text-align:left;
}

button{
    background-color: cyan;
    text-align: center;
    width: 100px;
}

form{
    border:2px; color: black;
    margin: auto auto;
    margin-top: 200px;
    padding: 20px 20px 20px 40px;
    background-color:white;
    width: 300px;
}

img{
    height: 50px;
    width: 50px;
}